.page-header {
    padding: 15px;
    color: #F2E6DB;
    background-color: #99593D;    
    border-top-left-radius: 5px;    
    border-top-right-radius: 5px;
}

h1.app-name {
    margin: 0;
    padding: 0;
}
